.listingsLeftContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.listingsCard {
  width: 45%;
  height: 480px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 5px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
}

.listingsImage {
  width: 100%;
  height: 240px;
}

.listingsTP {
  margin: 5px 15px;
}
/* .listingTP p {
  width: 20%;
} */

.listingsRoomProperties {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
}

.listingsRightContainer {
  width: 35%;

  padding: 30px;
}

.listingsSearchCard {
  flex: 1;
  height: 200px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 5px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
  padding: 20px;
}

.listingsEnquireCard {
  flex: 1;
  height: 400px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 5px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
  padding: 20px;
}
.listingsEnquireCard form input {
  margin-bottom: 20px;
  height: 30px;
}
.listingsEnquireCard form button {
  margin-bottom: 20px;
  height: 30px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #04534f;
  color: #000;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #04534f;
}

.paginationActive a {
  color: white;
  background-color: #04534f;
}

.paginationDisabled a {
  color: white;
  background-color: grey;
}

.paginationDisabled a:hover {
  color: white;
  background-color: grey;
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  .listingsLeftContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .listingsCard {
    width: 100%;
    height: 480px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 5px 0 rgba(0, 0, 0, 0.14);
    cursor: pointer;
    margin-bottom: 20px;
  }

  .listingsImage {
    width: 100%;
    height: 240px;
  }

  .listingsTP {
    margin: 5px 15px;
  }

  .listingsRoomProperties {
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
  }

  .listingsRightContainer {
    display: none;
  }

  .paginationBttns {
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  /* .paginateContainerClass {
  } */

  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #04534f;
    color: #000;
    cursor: pointer;
  }

  .paginationBttns a:hover {
    color: white;
    background-color: #04534f;
  }

  .paginationActive a {
    color: white;
    background-color: #04534f;
  }

  .paginationDisabled a {
    color: white;
    background-color: grey;
  }

  .paginationDisabled a:hover {
    color: white;
    background-color: grey;
  }
}
