.loginContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}
.loginLeftContainer {
  width: 40%;
}

.loginLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.loginLeft h2 {
  text-align: center;
}
.loginLeft h1 {
  text-align: center;
}
.loginLeft p {
  text-align: center;
}

.loginRightContainer {
  width: 80%;
}

.loginRight {
  display: flex;
  flex-direction: column;
  background-color: #04534f;
  justify-content: center;
  align-items: flex-start;
  padding: 0 150px;
  height: 100vh;
  color: white;
  width: 100%;
}
.loginRight h1 {
  margin-bottom: 10px;
  width: 100%;
}
.loginForm {
  display: flex;
  flex-direction: column;
}
.loginForm label {
  margin-bottom: 5px;
}
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.formGroup input {
  width: 100%;
  height: 50px;
}
.loginForm .checkbox {
  width: 100%;
  height: 20px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.loginForm button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #3a4c4a;
  border: none;
  cursor: pointer;
  color: white;
}
.loginForm button:hover {
  background-color: rgb(125, 34, 34);
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .serviceContainer {
    display: flex;
    width: 100%;
  }

  .card {
    background-color: white;
    height: 250px;
    padding: 40px 40px;
    margin-bottom: 30px;
    width: 90%;
    box-shadow: 0px -6px 4px 0 rgba(0, 0, 0, 0.14),
      0 3px 5px 0 rgba(0, 0, 0, 0.14);
  }
  .card:hover {
    box-shadow: 2px 0px 0px 4px rgba(0, 0, 0, 0.14),
      2px 0px 0px 5px rgba(0, 0, 0, 0.14);
  }
  .card h4 {
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    color: #222222;
    margin-bottom: 20px;
  }
  .card p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #7a7a7a;
  }
  .cardColumn2 {
    flex: 1;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .loginContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .loginLeftContainer {
    width: 100%;
  }

  .loginLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
  }

  .loginLeft h2 {
    text-align: center;
  }
  .loginLeft h1 {
    text-align: center;
  }
  .loginLeft p {
    text-align: center;
  }

  .loginRightContainer {
    width: 100%;
  }

  .loginRight {
    display: flex;
    flex-direction: column;
    background-color: #04534f;
    justify-content: center;
    align-items: flex-start;
    padding: 0 50px;
    height: 70vh;
    color: white;
    width: 100%;
  }
  .loginRight h1 {
    margin-bottom: 10px;
    width: 100%;
  }
  .loginForm {
    display: flex;
    flex-direction: column;
  }
  .loginForm label {
    margin-bottom: 5px;
  }
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .formGroup input {
    width: 100%;
    height: 50px;
  }
  .loginForm .checkbox {
    width: 100%;
    height: 20px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .loginForm button {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #3a4c4a;
    border: none;
    cursor: pointer;
    color: white;
  }
  .loginForm button:hover {
    background-color: rgb(125, 34, 34);
    color: white;
  }
}
